 
.Home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 10px;
    &-theme-dark{
        background-color: #121212;
    }
    justify-content: center;
    align-items: center;
}

.Heading{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    &-theme-dark{
        color: white;
    }
   
}