
.Task{
    &:hover{
    width: 57%;
    }
    &-theme-dark{
        background-color : #454545;
        &:hover{
            background-color: #6b6b6b;
        }
    }
    &-theme-light{
        background-color: #e4ebf0;
        &:hover{
            background-color: #d5d9db;
        }
    }
    box-sizing: border-box;
    border-radius: 20px;
    width: 55%;
    font-family: "Verdana";
    height: 140px;
    margin-bottom: 10px;
    transition: all 1s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    transition-duration: 1s;
}

  
.Button{
    border-radius: 20px;
    text-decoration: none;
    font-family: "Verdana";
    outline: none;
    color: black;
    border:none;
    font-size: 16px;
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: space-around;
}
  
.Text{
    &-theme-dark{
        color: white;
    }
    &theme-light{
        color: black;
    }
    transition-duration: 1s;
}
  